/*==================================== Header ====================================*/
.logo{  
    width: 80px;
    background-color: royalblue;
    border-radius: 99999px;
}

.logo-container{
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.logo-container>img{
    width: 100px;
}

.logo-container>h1{
    margin:0;
    font-size: 35px;
    text-align: center;
    color: white;
    text-decoration: underline;
}

nav.header-nav>a{
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    margin-right: 30px;
    transition: color 0.1s;
}

nav.header-nav>a:last-of-type{
    margin-right: 0;
}

nav.header-nav>a:hover{
    color: #23a3a3;
}

hr.header-line{
    height: 5px;
    background-color: white;
    border-color:white;
    border-radius: 3px;
    border-style: none;
}

.nav-link-container, 
.nav-link-container>
.nav-icon-container{
    display: flex;
}

.nav-link-container>
.nav-icon-container{
    flex-direction: column;
    margin: 0 10px 0 20px;
    align-items: center;
}

.header-mode{
    font-size: 30px; 
    text-decoration:none; 
    color: white;
    border: 5px solid white;
    border-radius: 99999px;
    padding: 5px;
    margin-bottom: 10px;
    width: 30px;
    text-align: center;
    transition: color 0.1s;
}

.header-mode:last-child{
    margin-bottom: 0;
}

.header-mode:hover{
    color: #23a3a3;
    border-color:#23a3a3;
    background-color: black;
}

/*==================================== Footer ====================================*/

.social-img{
    font-size: 30px;
    margin: 0 25px;
    text-decoration: none;
    color: white;
    transition: all 0.2s;
}

.social-img:hover{
    color: #358989;
}

@media(max-width: 900px){
    .logo-container{
        flex-direction: column;
        justify-content: center;
        gap:0;
    }
    .logo-container>img{
        width: 80px;
    }
    .logo-container>h1{
        font-size: 20px;
    }
}

@media(max-width: 600px){
    .header-nav a{
        display: block;
    }
}