header.container{
    background-color: rgb(15, 123, 190);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 2px solid black;
}

.main-container{
    display: flex;
    height: 500px;
}

footer.container{
    background-image: linear-gradient(rgb(19, 52, 89), 
                                      rgb(3, 11, 20)); 
    height:100px; 
    width: 100%; 
    text-align: center;
}