@import '../base/layout.css';
@import '../base/base.css';
@import '../3rd-party/font-awesome.min.css';
@import '../3rd-party/flag-icons.min.css';
@import '../components/filter.css';
@import '../components/custom_scroll.css';
@import '../utilities/animation.css';

/**/

.logo{  
    width: 80px;
    background-color: royalblue;
    border-radius: 99999px;
}

.logo-container{
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.logo-container>img{
    width: 100px;
}

.logo-container>h1{
    margin:0;
    font-size: 35px;
    text-align: center;
    color: white;
    text-decoration: underline;
}

nav.header-nav>a{
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    margin-right: 30px;
    transition: color 0.1s;
}

nav.header-nav>a:last-of-type{
    margin-right: 0;
}

nav.header-nav>a:hover{
    color: #23a3a3;
}

hr.header-line{
    height: 5px;
    background-color: white;
    border-color:white;
    border-radius: 3px;
    border-style: none;
}

.nav-link-container, 
.nav-link-container>
.nav-icon-container{
    display: flex;
}

.nav-link-container>
.nav-icon-container{
    flex-direction: column;
    margin: 0 10px 0 20px;
    align-items: center;
}

.header-mode{
    font-size: 30px; 
    text-decoration:none; 
    color: white;
    border: 5px solid white;
    border-radius: 99999px;
    padding: 5px;
    margin-bottom: 10px;
    width: 30px;
    text-align: center;
    transition: color 0.1s;
}

.header-mode:last-child{
    margin-bottom: 0;
}

.header-mode:hover{
    color: #23a3a3;
    border-color:#23a3a3;
    background-color: black;
}

/*==================================== Main ====================================*/
.left-item{
    background-color:rgb(19, 52, 89);
    text-align: center;
    width: 20%;
    min-width: 150px;
    height: 100%;
}

.right-item{
    background-image:linear-gradient(rgb(0, 65, 139),
                                     rgb(19, 52, 89));
    width: 80%; 
    height: 100%;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.category-list>h2{
    color: white;
    background-color: rgb(0, 65, 139);
    margin: 0;
    text-align: center;
}

.category-list>a{
    display: block;
    text-decoration: none;
    color: white;
    background-color: rgb(32 88 150);
    margin: 0;
    padding: 5px;
    text-align: left;
    margin-bottom:2px;
    transition: all 0.3s;
}

.category-list>a:last-child{
    margin-bottom:0;
}

.category-list>a:hover{
    background-color: #358989;
}
.search-bar{
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
}
#form-search{
    display:inline-block;    
    margin: 10px 0 10px 10px;
    width: 80%;
}

#form-search>#search_bar{
    width: 100%;
    height: 37px;
    border-radius: 99999px;
    border: none;
    outline: none;
    font-weight: bold;
    padding: 0 12px;
}

.btn-search{
    vertical-align: middle;
    height: 40px;
    background-color: rgb(4, 44, 91);
    border-radius: 99999px;
    color: white;
    font-size: 25px;
}

.btn-search:hover{
    cursor: pointer;
}

.gallery-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    overflow-x: hidden;
    margin: 0 17px 0 0;
    flex-wrap: wrap;
    justify-content: center;
    height: 68.5%;
    overflow-y:scroll;
    gap:20px;
}

.gallery-item{
    display: flex;
    justify-self: center;
    flex-direction: column;
    align-items: center;
    background-color: #205896;
    border-radius: 8px;
    text-align: center;    
    border: 2px solid black;
    padding: 0 25px;
    margin-top:10px;
}

.gallery-item>.flag-container>p{
    width: 35px;
    height: 20px;
    margin: 10px 56px;
}
.gallery-item>p{   
    align-self: flex-start;
    color: white;
    margin: 0;
}

.gallery-item>p:last-of-type{
    align-self: center;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 0;
}

.gallery-item>img{
    width: 150px;
    margin-top: 20px;
    border: 2px solid black;
    box-shadow: 2px 2px 5px 2px #0007;
}

.gallery-item>hr{
    width: 100%;
}

.rating{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 35px;
    width: 100%;
}

.comment-container{
    justify-self: left;
}

.favorite-container{
    justify-self: right;
    align-self: flex-end;
}

.like-container{
    justify-self: left;
}

.favorite{
    transition: color 0.1s linear;
}

.favorite:hover{
    color: rgb(4, 44, 91);
    cursor: pointer;
}

.comment-txt, .favorite-txt, .like-txt{
    display: inline-block;
}

.ad-container{
    background-color: #a2bad4;
    flex:20%;
    min-width: 285px;
    color: black;
    overflow: hidden;
    margin-right: 1px;
    
}

.ad-container img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin: 0;
}

/*==================================== Footer ====================================*/
.social-img{
    font-size: 30px;
    margin: 0 25px;
    text-decoration: none;
    color: white;
    transition: all 0.2s;
}

.social-img:hover{
    color: #358989;
}

@media (max-width: 1200px)
{
    .ad-container{
        margin-right: 0;
        display: none;
    }
    .gallery-container{        
        height: 62%;
    }
}

@media(max-width: 960px){
    .gallery-container{
        grid-template-columns: 1fr 1fr;
    }   
}

@media(max-width: 900px){
    .logo-container{
        flex-direction: column;
        justify-content: center;
        gap:0;
    }
    .logo-container>img{
        width: 80px;
    }
    .logo-container>h1{
        font-size: 20px;
    }
}

@media (max-width: 800px)
{
    .gallery-container{        
        height: 49.5%;
    }
}

@media(max-width: 640px){
    .gallery-container{
        grid-template-columns: 100%;
    }
}

@media(max-width: 600px){
    .header-nav a{
        display: block;
    }
}